<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add a book</title>
    <link rel="stylesheet" href="/style1.css" />
  </head>
  <body>
    <div class="top">
      <h2>Add a New Book</h2>
     </div>
    <div class="main">
      <form method="post" action="/books">
        <input type="text" placeholder="Enter the book id" name="B_id" /><br />
        <input
          type="text"
          placeholder="Enter the book name"
          name="B_name"
        /><br />
        <input
          type="text"
          placeholder="Enter the book author"
          name="B_author"
        /><br />
        <input
          type="text"
          placeholder="publishing date"
          name="B_publishingDate"
        /><br />
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
