@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 200;
}
.top{
    width: 100%;
    height: 70px;
    background-color: #15616D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFECD1;
}
.main{
    display :flex;
    justify-content: center;
    /* align-items: center; */
    height: 300px;
    width: 300px;
    background-color: #FF7D00;
    margin-top: 20vh;
    border-radius: 4px;
}
.main form input{
    height: 40px;
    width: 250px;
    padding-left: 10px;
    margin-top: 30px;
    border-radius: 4px;
    border: none;
}
.main form button{
    width: 100px;
    height: 30px;
    border: 1px solid white;
    background-color: #F9DC5C;
    border-radius: 4px;
    margin-top: 50px;
    margin-left: 65px;
}
